{% extends "base.html" %}

{% block title %}{{ post["pid"] }}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<div class="post">
		<p class="row">
			<span class="col-sm-9">
				<a href="{{ url_for('blog', pid=post['pid']) }}">{{ post["title"] }}</a>
			</span>

			{% if session['username'] == post['username'] %}
			<form method="POST" action="{{ url_for('delete', pid=post['pid']) }}" class="col-sm-3">
				<input type="submit" value="Delete" class="btn btn-outline-danger">
			</form>
			{% endif %}
		</p>

		<p>By @<a href="{{ url_for('profile', username=post['username']) }}">{{ post["username"] }}</a></p>

		<div class="row">
			<img src="{{ url_for('static', filename='uploads/'+post['username']+'/'+post['filename']) }}"
			     class="img-fluid">
		</div>

		<div class="tags">
			<textarea class="form-control" rows="3" disabled>{{ post["tags"] }}</textarea>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

