{% extends "base.html" %}

{% block title %}{{ post["pid"] }}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<div class="post">
		<div class="row">
			<h3 class="col-sm-9">
				<a href="{{ url_for('blog', pid=post['pid']) }}">{{ post["title"] }}</a>
			</h3>

			<button class="col-sm-3 btn btn-outline-primary" onclick="downloadFile(this, {{ post['pid'] }})">
				Download
			</button>
			<a id="download_{{ post['pid'] }}"
			   href="{{ url_for('static', filename='uploads/'+post['username']+'/'+post['filename']) }}" 
			   download
			   disabled></a>
		</div>

		{% if session['username'] == post['username'] %}
		<form method="POST" action="{{ url_for('delete', pid=post['pid']) }}"> 
			<input type="submit" value="Delete" class="btn btn-outline-danger">
		</form>

		{% endif %}

		<p>By @<a href="{{ url_for('profile', username=post['username']) }}">{{ post["username"] }}</a></p>

		<div class="row">
			<img src="{{ url_for('static', filename='uploads/'+post['username']+'/'+post['filename']) }}"
			     class="img-fluid center-block">
		</div>

		<div class="tags">
			<textarea class="form-control" rows="3" disabled>{{ post["tags"] }}</textarea>
		</div>
	</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
{% endblock %}

