{% extends "base.html" %}

{% block title %}ENSTA Search{% endblock %}

{% block css %}{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<h1>Ensta Search</h1>
<div class="container">
	<div class="col">
		<ul class="list-group">
			{% for post in result['posts'] %}
			<a href="{{ url_for('blog', pid=post['pid']) }}" class="list-group-item list-group-item-action">{{ post['title'] }}</a>
			{% endfor %}
		</ul>
	</div>

	<div class="col">
		<ul>
			{% for user in result['users'] %}
			<li><a href="{{ url_for('profile', username=user) }}">{{ user }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

