{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<h1>Add products</h1>
	<form method="post" action="{{ url_for('add_product') }}" enctype="multipart/form-data">
		<div class="form-group">
			<label>Name</label>
			<input required class="form-control" name="name">
		</div>

		<div class="form-group">
			<label>Info</label>
			<textarea rows="3" required class="form-control" name="info">
			</textarea>
		</div>

		<div class="form-group">
			<label>Price</label>
			<input required class="form-control" name="price">
		</div>

		<div class="form-group">
			<label>Type</label>
			<input required class="form-control" name="p_type">
		</div>

		<div class="form-group">
			<label>Image</label>
			<input type="file" required class="form-control" name="image">
		</div>

		<button type="submit" class="btn btn-outline-success">Add</button>
	</form>
{% endblock %}

{% block footer %}
{% endblock %}

