{% extends "base.html" %}

{% block title %}My Cart{% endblock %}

{% block css %}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<h1>My Cart</h1>

	<div class="container">
		{% for product in products['list'] %}
		<div class="container">
			<div class="row">
				<p>{{ product["name"] }}</p>
			</div>
			<div class="row">
				<img class="col-sm-4" src="{{ url_for('static', filename=product['img_path']) }}">
				<div class="col-sm-6">
					<p>Info: <pre>{{ product["info"] }}</pre></p>
					<p>Price: {{ product["price"] }}</p>
					<p>Category: {{ product["p_type"] }}</p>
				</div>

				<div class="col-sm-2">
					<p>Quantity: {{ product["quantity"] }}<p>
					<form method="post" action="{{ url_for('remove_cart') }}">
						<input style="display:none;" name="c_id" value="{{ product["c_id"] }}">
						<button type="submit" class="btn btn-outline-danger">Remove from cart</button>
					</form>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<hr>
	<div class="container">
		<p>Total: {{ products['total_cost'] }}</p>
	</div>

{% endblock %}

{% block footer %}
{% endblock %}

