<nav class="navbar navbar-light navbar-expand-sm">
	<div class="navbar-brand">
		<a class="navbar-brand" href="{{ url_for('index') }}">Groceri</a>
	</div>

	<form class="form-inline" action="{{ url_for('search') }}" method="get">
		<input class="form-control" required name="q">
	</form>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav ml-auto">
				{% if session.username %}

				{% if session["user_type"] == "admin" %}
				<li>
					<a class="nav-link" href="{{ url_for('add_product') }}">Add product</a>
				</li>

				<li>
					<a class="nav-link" href="{{ url_for('review_order') }}">Review Orders</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('get_products') }}">Products</a>
				</li>


				<li class="nav-item dropdown btn-group">
					<a class="nav-link btn btn-outline-info"
					   href="">{{ session["username"] }}
					</a>

					<a class="btn btn-outline-info nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
					
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ url_for('show_cart') }}">Show Cart</a>
					<a class="dropdown-item" href="{{ url_for('show_order_history') }}">Order History</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('change_profile') }}">Profile</a>
					<a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
				</div>

				{% else %}
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
				</li>
				{% endif %}
		</ul>
	</div>
</nav>

<div class="flash-message">
	{% if session.flashMsg %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		{{ session.pop('flashMsg',None) }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}

	{% if session.flashErr %}
	<!!-- TODO change colors -->
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{{ session.pop('flashErr',None) }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
</div>

