{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block css %}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<h1>Products</h1>

	<div class="container">
		{% for product in products %}
		<div class="container">
			<div class="row">
				<p>{{ product["name"] }}</p>
			</div>
			<div class="row">
				<img class="col-sm-4" src="{{ url_for('static', filename=product['img_path']) }}">
				<div class="col-sm-6">
					<p>Info: <pre>{{ product["info"] }}</pre></p>
					<p>Price: {{ product["price"] }}</p>
					<p>Category: {{ product["p_type"] }}</p>
				</div>

				<div class="col-sm-2">
					<form method="post" action="{{ url_for('add_to_cart') }}">
						<input type="number" class="form-control" name="quantity" value="1">
						<input style="display:none" name="price" value="{{ product['price'] }}">
						<input style="display:none" name="pid" value="{{ product['pid'] }}">
						<button type="submit" class="btn btn-outline-primary">Add To Cart</button>
					</form>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}

{% block footer %}
{% endblock %}

