{% extends "base.html" %}

{% block title %}Groceri - search{% endblock %}

{% block css %}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<h1>Groceri Search</h1>

	<div class="container">
	<div class="row">
		{% if 'name' in result %}
		<ul class="col list-group">
			<h3>Name</h3>
			{% for name in result['name'] %}
			<a class="list-group-item list-group-item-action" href="{{ url_for('product_by_pid',pid=name['pid']) }}">
				{{ name["name"] }}
			</a>
			{% endfor %}
		</ul>
		{% endif %}

		{% if 'type' in result %}
		<ul class="col">
			<h3>Type</h3>
			{% for type in result['type'] %}
			<a class="list-group-item list-group-item-action" href="{{ url_for('product_by_pid',pid=type['pid']) }}">
				{{ type["name"] }}
			</a>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	</div>

	<br><br><hr>
	<div class="container">
		<h2>Advanced Search</h2>
		<p>options to add to search:</p>
		<ul>
			<li>Search by type: type</li>
			<li>Query relop: and/or/not</li>
		</ul>

		<p>Example query: <code>tom relop:and type:misc</code></p>
		<p>Not query: <code>tom relop:not</code>
	</div>

{% endblock %}

{% block footer %}
{% endblock %}

